<%- model_class = BidRequest -%>
<div class="page-header">
  <h1><%=t '.title', :default => BidRequest %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:pick_up_street) %></th>
      <th><%= model_class.human_attribute_name(:pick_up_city_state) %></th>
      <th><%= model_class.human_attribute_name(:pick_up_zip) %></th>
      <th><%= model_class.human_attribute_name(:drop_off_street) %></th>
      <th><%= model_class.human_attribute_name(:drop_off_city_state) %></th>
      <th><%= model_class.human_attribute_name(:drop_off_zip) %></th>
      <th><%= model_class.human_attribute_name(:pick_up_date) %></th>
      <th><%= model_class.human_attribute_name(:pick_up_time) %></th>
      <th><%= model_class.human_attribute_name(:drop_off_date) %></th>
      <th><%= model_class.human_attribute_name(:drop_off_time) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bid_requests.each do |bid_request| %>
      <tr>
        <td><%= bid_request.id %></td>
        <td><%= bid_request.pick_up_street %></td>
        <td><%= bid_request.pick_up_city_state %></td>
        <td><%= bid_request.pick_up_zip %></td>
        <td><%= bid_request.drop_off_street %></td>
        <td><%= bid_request.drop_off_city_state %></td>
        <td><%= bid_request.drop_off_zip %></td>
        <td><%= bid_request.pick_up_date %></td>
        <td><%= bid_request.pick_up_time %></td>
        <td><%= bid_request.drop_off_date %></td>
        <td><%= bid_request.drop_off_time %></td>
        <td><%=l bid_request.created_at, format: :long %></td>
        <td>
          <%= link_to bid_request_path(bid_request), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to bid_request_path(bid_request), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bid_request_path,
            :class => 'btn btn-primary' %>
